.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.time {
  font-size: 100px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.missingMinutes {
  font-size: 150px;
  animation:1s blinker linear infinite;
}

.colon {
  font-size: 100px;
  text-decoration: blink;
}

.missingSeconds {
  font-size: 150px;
  text-decoration: blink;
}

@keyframes blinker {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}
