.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.missingMinutes {
  font-size: 180px;
  line-height: 180px;
  animation:1s blinker linear infinite;
  margin: 0;
}

.colon {
  font-size: 100px;
  text-decoration: blink;
  margin: 0;
}

.missingSeconds {
  font-size: 180px;
  line-height: 180px;
  text-decoration: blink;
  margin: 0;
}

.hmdLogo {
  width: 200px;
  height: 200px;
}

@keyframes blinker {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}
